mqtt_thesis/.vs/
mqtt_thesis/mqtt_thesis.atsln
mqtt_thesis/mqtt_thesis/Debug/
mqtt_thesis/mqtt_thesis/desktop.ini
mqtt_thesis/mqtt_thesis/mqtt_thesis.componentinfo.xml
mqtt_thesis/mqtt_thesis/mqtt_thesis.cproj
